.accordion-body, .accordion-service {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.accordion-service {
    border: 1px solid #DEE2E6;
    padding: 5px;
    margin: 5px;


    button {
        width: 25%;
        align-self: end;
        &:focus {
            box-shadow: none !important;
        }

        @media screen and (max-width: 574px) {
            width: 40%;
        }
    }

    h5, p {
        margin-bottom: 10px;
    }
}

.accordion-button:not(.collapsed) {
    color: #6C6C6C !important;
    background-color: #F8F8F8 !important;
}